$breakpoint-xl-desktop: 1920px;
$breakpoint-tablet: 1116px;
$breakpoint-mobile: 480px;

@font-face {
  font-family: christmasFont;
  src: url("./assets/fonts/PWHappyChristmas.ttf");
}

body {
  background-color:#274686;
  margin: 0;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1792px 0;
  }
}

.App {
  text-align: center;
  background-image: url('./assets/images/BG.png');
  background-repeat: repeat-x;
  animation: animatedBackground 30s linear infinite;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: christmasFont;
  text-shadow: 5px 5px 5px black;
  font-size: calc(10px + 5vmin);
  color: white;
}